body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #333;
}

.container {
	width: 800px;
	margin: auto;
	background-color: #fff;
}

.header {
	padding: 20px;
}

.header .judul {
	font-size: 40px;
	font-weight: bold;
}

.header ul li {
	display: inline-block;
	margin-top: 20px;
	margin-right: 10px;
}

.header a {
	text-decoration: none;
	color: salmon;
	padding: 3px;
	border-radius: 3px;
}

.header a:hover {
	background-color: lightskyblue;
	color: white;
}