body h1 h2 h3 h4 h5 {
	font-family:Raleway;
}

.body-dosage {
	background-image: url(img/wall1.jpg);
	background-attachment:fixed;
}

.footer-dosage {
	backface-visibility: 20%;
	background-color: blue;
	padding: 20px
}
