body h1 h2 h3 h4 h5 {
	font-family:Raleway;
}

.body-dosage {
	background-image: url(https://i.pinimg.com/736x/da/7d/f8/da7df864ec04d50d7bce79b2d9acffaa--repeating-patterns-fabric-wallpaper.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.footer-dosage {
	backface-visibility: 20%;
	background-color: black;
	padding: 20px
}
